.cardsBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}
