.card {
  width: 450px;
  max-height: 350px;
  position: relative;
  background-color: rgb(164, 164, 164);
  border-radius: 9px;
}

.cardClose {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.cardClose:before,
.cardClose:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 7px;
  width: 20px;
  height: 2px;
  background: #575757;
}

.cardClose:hover:before,
.cardClose:hover:after {
  background: #1f1e1e;
}

.cardClose:before {
  transform: rotate(45deg);
}

.cardClose:after {
  transform: rotate(-45deg);
}

span {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #c5c1c1;
  opacity: 0.3;
  cursor: pointer;
  transition: border-color 0.25s;
}
span:hover {
  opacity: 1;
}

.cardImage {
  max-width: 450px;
  max-height: 300px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.cardInfo {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardDateSize {
  font-size: 12px;
}

@media (min-width: 768px) {
  .cardImage {
    height: 300px;
  }
  .card {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .card {
    font-size: 13px;
  }
}
